header,
main,
aside,
footer {
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    height: 80vh;
    width: 100vw;
}
main {
    background-color: cadetblue;
    width: 60%;
    height: 60%;
}

header {
    background-color: red;
    height: 20%;
    min-width: 100%;
}

section {
    width: 80%;
    height: 80%;
}

aside {
    background-color: green;
    width: 39%;
    height: 100%;
}

footer {
    background-color: pink;
    width: 100%;
    height: 20vh;
}