 body {
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        header {
            background-color: red;
            height: 20vh;
            width: 100%;
        }

        main {
            display: flex;
            flex: 1;
            background-color: cadetblue;
            justify-content: space-between;
        }

        section {
            background-color: lightgray;
            flex: 1;
        }

        aside {
            background-color: green;
            width: 30%;
        }

        footer {
            background-color: pink;
            height: 20vh;
            width: 100%;
        }
